page-home {
  #logo {
    width: auto;
    height: auto;
    box-shadow: 1px 1px 1px 1px #000000;
    border: 5px;
    display: block;
    margin: auto;
  }

  #adv-img {
    width: 100%;

  }

  .wrapper {
    position: relative;
  }

  .wrapper p {
    bottom: 5%;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
  }

}
