page-home {

  #poop-button {
    top: 20%;
  }

  img#logo {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }

  #adv-img {
    width: 100%;
  }

  .wrapper {
    position: relative;
  }

  .wrapper p {
    bottom: 5%;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
  }

  p#adv-text {
    text-align: center;
  }

  .footer {
    background-color: #D3D3D3;
  }

  .toolbar-background {
    background-color: #4682B4;
  }
}
